* {
  margin: 0;
  padding: 0;
}
section {
  width: 100vw;
  height: auto;
}
.flexbox-container {
  width: auto;
  margin: 0 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(131, 115, 115);
  justify-content: center;
  align-items: center;
}

.flexbox-container > div {
  background-color: burlywood;
  width: 250px;
  height: 150px;
  margin: 10px;
}
