* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  height: 100%;
  width: 100%;
}

.hero-container{
  margin-bottom: 60px;
  max-width: 1024px;
  margin: 0 auto;
}

.heading {
  font-size: 32px;
  padding: 20px 0;
  font-weight: bold;
}
.banner-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.banner-container > div {
  width: 50%;
}

img {
  width: 100%;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.right-container > .advantage {
  width: 92%;
  height: auto;
  display: flex;
  flex-direction: row;
  height: 28%;
}

.advantage .image {
  width: 30%;
}

.advantage .text {
  width: 70%;
}

.about-you .image {
  background-color: coral;
}
.save-money .image {
  background-color: cadetblue;
}
.eat-healthy .image {
  background-color: darkslateblue;
}

.image i {
  color: white;
  font-size: 56px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantage .text {
  padding: 0px 18px;
}
.advantage .text .title {
  font-size: 22px;
  font-weight: bold;
  color: rgb(87, 85, 85);
}
.advantage .text .description {
  font-size: 16px;
  color: grey;
  padding-top: 15px;
}

.down-container-full-width{
  width: 100%;
  background-color: #d8e2ec;
  margin-top: 60px;
  height: fit-content;
}

.down-container {
  max-width: 1024px;
  margin: 0 auto;
}

.head {
  font-size: 32px;
  padding: 40px 0;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flex-container > .working {
  height: auto;
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: 20px 0;
}

.working .d-image{
  width: 30%;
}

.working .d-text {
  width: 70%;
  padding: 0px 18px;
}
.working .d-text .d-title {
  font-size: 22px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.working .d-text .d-description {
  font-size: 16px;
  color: grey;
  padding-top: 15px;
}

.working:hover{
  background: #ffffff;
  box-shadow: 0px 5px 5px rgb(228, 226, 226);
}